
<!-- Organisation information.-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Organisation information</h3>
  </div>
  <div class="panel-body">
    <input id="name" placeholder="Organisation's name" value="<%= name %>" class="form-control"/>
  </div>
</div>
<!-- LRS.-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Select an LRS</h3>
  </div>
  <div class="panel-body">
    <input id="lrsUser" placeholder="LRS username" value="<%= lrsUser %>" class="form-control"/>
    <input id="lrsPass" placeholder="LRS password" value="<%= lrsPass %>" class="form-control"/>
  </div>
</div>
<!-- Tutors.-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tutors</h3>
  </div>
  <div id="tutors" class="panel-body"></div>
</div>
<!-- Learners.-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Learners</h3>
  </div>
  <div id="learners" class="panel-body"></div>
</div>
<!-- Attributes.-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Attributes</h3>
  </div>
  <div id="attrs" class="panel-body"></div>
</div>
<!-- Buttons.--><a id="save" class="btn btn-primary"><i class="fa fa-save"></i> Save</a>